.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calendar-month {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;

    >div {
        font-weight: 600;
        font-size: 21px;
        width: 200px;
        text-align: center;
    }

    i {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

.calendar-weeks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(14.28% - 12px), 1fr));
    text-align: center;
    font-weight: 500;
    margin-bottom: 12px;
}

.calendar-dates {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(14.28% - 12px), 1fr));
    grid-template-rows: repeat(5, 32px);
    grid-gap: 12px;


    >button {
        margin: auto;

        >span {
            font-size: 16px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
        }
    }
}

.calendar-dates--focus {
    color: #031615;
}

.calendar-dates--infocus {
    color: #C9CFCE;
}

.calendar-dates--today {
    color: green;
    border-radius: 50%;
    border: 2px solid #99D2E6;
}

.calendar-dates--selected {
    background-color: #0A423F;
    color: #ffffff;
    border-radius: 50%;
}

.calendar-dates--today-selected {
    background-color: #0A423F;
    color: #ffffff;
    border-radius: 50%;
}